#hero {
    background: rgb(49, 0, 52);
    background: linear-gradient(345deg, rgba(80,0,85,1) 0%, rgba(49,0,52,1) 49%);
    height: calc(100vh - 77.6px);
}

.conteudo-hero {
    display: flex;
}

.image-hero img {
    width: 100%;
}

button {
    width: 42%;
    padding: 8px 20px;
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .image-hero img {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .box-skill {
        width: 100%
        
    }
}